*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    font-family: "SF Pro Display",Roboto,Noto,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    /*background: #f5f6f7;*/
    font-family: PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Verdana,Roboto,Noto,Helvetica Neue,sans-serif !important;
}
ul,li{
    list-style: none;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.clearfix{
    zoom: 1;
}
.clearfix:after{
    clear: both;
    display: block;
    content:'';
    visibility: hidden;
    height: 0;
    line-height: 0;
}
.w-cw{
    width:1000px;
    margin:0 auto;
}
.bgf{
    background-color: #fff;
}

/*header*/
.w-header{
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    padding-bottom: 10px;
    background-color: #f0f0f0;
}
.h-nav{
    overflow:hidden;
}
.h-nav > li{
    float:left;
}
.h-nav > li a{
    display: block;
    margin-right: 15px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #3D3D3D;
    text-decoration: none;
}
.h-nav > li a:hover{
    color:#CA0C16;
}

.h-ad{
    height: 90px;
    /*background-color: #e0e0e0;*/
    overflow:hidden;
}
.ad-728{
    float: left;
    width: 728px;
}
.ad-272{
    float: left;
    width: 272px;
}
/*内容*/
.w-body{
    margin-top: 20px;
}
.bd-cont{
    margin-top: 40px;
}
.bd-l{
    width:640px;
    float: left;
}

.bd-r{
    width: 310px;
    float:right;
}

.bd-title{
    font: bold 24px "宋体";
    padding: 0 0 20px 0;
    letter-spacing: -1.5px;
}
.trw-l{
    float:left;
    width:250px;
}
.trw-l p{
    color: #999;
    line-height: 18px;
    margin:0;
    font-size: 12px;
}
.trw-r{
    width:250px;
    float: right;
    text-align: right;
}

.bd-article{
    margin-top: 10px;
    border-top:1px solid #e0e0e0;
    padding-top: 25px;
}

.ft-cont{
    margin-top: 20px;
    border-top: 1px solid #e0e0e0;
    padding:30px 0 30px;
}

.f-nav{
    text-align: center;
}
.f-nav > li{
    display: inline-block;
    margin:0 10px;
}

.f-nav > li a{
    font-size:12px;
    text-decoration: none;
    color:#333;
}
.f-tip{
    color:#999;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
}

.bd-r-ad{
    background: #e0e0e0;
    height: 90px;
    margin-top: 10px;
}

.ellipsis{
    width: 100%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-item{
    border-bottom: 1px solid #f4f4f4;
    padding:15px;
}
.list-item:hover{
    background-color: #fafafa;
}
.list-title{
    margin-bottom:5px;
}
.list-title a{
    color: #222;
    font-size: 18px;
    line-height: 24px;
    height: 24px;
}
.list-title a:hover{
    color:#ca0c16;
}
.list-cont{
    margin-bottom: 4px;
    font-size: 13px;
    color: #8a8a8a;
    line-height: 24px;

}
.list-info{
    text-align: right;
    margin-top: 6px;
}
.list-date{
    font-size: 12px;
    font-style: italic;
    color:#444;
}
.page-nav{
    height: 30px;
    text-align: right;
    line-height: 30px;
    margin:26px auto 15px;
}
.page-nav .w-nav{
    color:#2d8cf0;
    margin:0 8px;
}
.page-nav .w-nav:hover{
    color:#2db7f5;
}

.w-tj{
    margin-top: 10px;
    padding: 10px 0;
    background-color: #f0f0f0;
}
.tj-title{
    font-size: 14px;
    color:#666;
    border-left: 3px solid rgb(255, 128, 142);
    line-height: 20px;
    height: 20px;
    padding-left: 10px;
}
.tj-list{
   margin-top: 10px;
}
.tj-item{
    padding-left: 15px;
    display: block;
    width:100%;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.tj-item a{
    line-height: 24px;
}
.tj-item a:hover{
    color:#2db7f5;
}









